{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}
{% block titulo %}Cuidadores{% endblock titulo %}
{% block h1 %}Cuidadores{% endblock h1 %}
{% block cuerpo %}
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in usuario %}
        <tr>
            <td>{{ user.username }}</td>
            <td><button class="btn btn-primary" onclick="window.location.href='editar/{{ user.rut }}'">Editar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}