{% extends 'historialbase.html' %}
{% load static %}
{% block historial %}
    <section>
        <div class="container-sm form_clinica">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>Lugar de atencion</th>
                        <th>rut</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{paciente.lugarAtencion}}</td>
                        <td>{{paciente.rut}}</td>
                        <td>{{paciente.Nombres}}</td>
                        <td>{{paciente.Apellidos}}</td>
                        <td> <a href="">Editar</a> <a href="">Eliminar</a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endblock %}

