{% load static %}
{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}
<body class="m-0 row justify-content-center">
    <div align="right">
        <img src="{% static 'images/logo.png' %}" alt="logo" >
    </div>
    <div align="center">
        {% for evo in evolucion %}
        <u><h2>REPORTE EVOLUCION DEL CUIDADOR {{ evo.fecha_evaluacion|date:'d-m-Y H:i' }}</h2>
        <b>Nombre Cuidador:</b> {{ evo.cuidador }}</u>
        <p>{{ evo.descripcion|linebreaks}}</p>
        {% endfor %}
    </div>
</body>